* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 200vh;
    max-height: 200vh;
    overflow-y: hidden;
}

.no-hover-cursor {
    cursor: inherit !important;
}

.container {
    scroll-snap-type: y mandatory;
}

section {
    background-color: lightblue;
    text-align: center;
    padding: 5rem;
    transition: 100ms ease;
    cursor: default;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

section:hover {
    background-color: rgb(186, 232, 247);
}

section:last-of-type{
    position: absolute;
    background-color: lightgreen;
    width: 100%;
    top: 100vh;
    transition: 100ms ease;
    /* cursor: pointer; */
}

section:last-of-type:hover {
    background-color: rgb(167, 255, 167);
}

img {
    position: fixed;
    right: 25px;
    bottom: 20%;
    width: 20%;
    opacity: 0.7;
    z-index: 1;
    cursor: pointer;
    -webkit-user-drag: none;
    transition: 200ms ease;
    transition: bottom 2s ease;
}

img:hover {
    opacity: 1;
    /* bottom: 100px; */
}

img:active {
    opacity: 1;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.focus {
    opacity: 1;
}